@font-face {
  font-family: NorseBold;
  src: url("fonts/Norse-Bold.otf") format("opentype");
}

:root {
  --button-colour: #596d48;
  --input-border: #e5e7eb;
  --invalid-input: #c73636;
  --selected-input: #2833ce;
  --secondary-colour: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
}

.content {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.image-container {
  width: 40%;
  background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-banner {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: clamp(0.5rem, 4vw + 1rem, 1rem);
  margin-top: 10rem;
  font-size: clamp(3rem, 4vw + 1rem, 5rem);
}

.logo-banner img {
  height: 1.6667em;
}

.logo-banner h1 {
  color: #ffffff;
  font-family: NorseBold;
  font-weight: normal;
  font-size: 1em;
}

.credit-signature {
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.credit-signature a {
  color: #ffffff;
}

.form-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.form-container > div {
  flex: 1;
  padding: clamp(1rem, 2vw + 0.5rem, 2rem);
}

.description-div {
  background-color: var(--secondary-colour);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 16px;
}

.description-div p:nth-child(3) {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.form-div {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.form-div h2 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

#signup-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  max-width: 600px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field label {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 12px;
}

.form-field input {
  height: 1.5rem;
  border: 1px solid var(--input-border);
  border-radius: 3px;
  padding-left: 0.2rem;
}

input:invalid {
  border: 1px solid var(--invalid-input);
}

input:focus {
  outline: none;
  border: 1px solid var(--selected-input);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.create-account-btn {
  background-color: var(--button-colour);
  border: none;
  border-radius: 8px;
  padding: 0.8rem 2rem;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.create-account-btn:hover {
  filter: brightness(0.8);
}

.login-redirect {
  text-decoration: none;
  color: var(--button-colour);
  font-weight: bold;
}
